.App {
  text-align: center;
  vertical-align: center;
  background-color: #d1e0e0;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1, 
h2, 
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}
h1 {
  color: pink;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 500;
font-size: 1rem;
line-height: 2rem;
color: #5c5c5c
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #5c5c5c;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


.gradient-text {
  text-align: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  font-size: 5vw;
  line-height: 1;
  padding: 30px 15px 15px 15px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #3f0d12;
  background-image: linear-gradient(to bottom right, #87CEFA, #ADD8E6);
}

 


/*  left side */

sidecolumn1 {
width: 50%;
float: left;
text-align: center;
height: 100vh;
max-height:100%; 
}



/*  right side */

.sidecolumn2 {
  float: left;
  width: 50%;
  min-height: 100vh;
 
}

.box {
  padding-top: 35px;
  padding-bottom: 35px; 
  width: 80%;
  text-align: center;
  margin: 4.5rem auto; 
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #efecec;
  background-image: linear-gradient(315deg, #eae6e7 0%, #edf0ec 74%);
  color: #5c5c5c;
}

.box p {
  padding: 0rem 1.5rem;
  font-size: 1rem;
  }


footer
{
width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  headerup {
  display: none !important;
} 

  .sidecolumn2 {
    width: 100vw;
    min-height: auto;
  }

sidecolumn1 {
    width: 100vw;
    height: auto;
  }

.box {
    width: 80vw;
  }
}


@media screen and (max-width: 600px) {
  headerup {
  display: none !important;
}

  .sidecolumn2 {
    width: 100%;
    text-align: center;
    min-height: auto;
  }

 .sidecolumn1 {
    width: 100vw;
    height: auto;
  }

 .gradient-text {
font-size: 3rem;
} 

.box {
font-size: 0.7rem;
width: 92vw;
padding: 25px 0px;
margin-top: auto;
} 
}
